

* {box-sizing: border-box;}

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
        font: 1em Helvetica, arial, sans-serif;
    }

    .wrapper > * {
        border: 0.5px solid lightgrey;
        background-color: white;
        border-radius: 2px;
        padding: 10px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
.main-head {
  grid-area: header;
  border: 0px;
  background: black;
  color: white;
  border-radius: 0px;
  padding: 20px;
  margin-top: -10px;
}

.sub-head {
  grid-area: subheader;
  border: 1px solid lightgrey;
  background: white;
  color: black;
  border-radius: 0px;
  padding: 20px;
  margin-top: -10px;
  text-align: center;

}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "subheader"
    "nav"
    "content"


}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "subheader subheader"
      "content content"
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header    header    header"
      "subheader subheader subheader"
      "content    content content"
      "content    content content"
   }
   nav ul {
     flex-direction: column;
   }
}

#start-button{
  margin-left: 0 auto;
  background: black;
  border:none;
  color:white;
  padding: 10px;
  border-radius:2px;

}

#start-button:hover{
  cursor:pointer;
  background: lightgrey;
  color:black;
}

#save-button{
  margin-left: 0 auto;
  background: black;
  border:none;
  color:white;
  padding: 10px;
  border-radius:2px;
  width: 200px;
  float:right;
}

#save-button:hover{
  cursor:pointer;
  background: lightgrey;
  color:black;
}

:-webkit-full-screen #myObject {
  font-size: 20px;
  width: 100%;
}
:-moz-full-screen #myObject {
  font-size: 20px;
  width: 100%;
}

picture {
  margin:auto;
}

